<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Blogs</title>
</head>
<body>
    <div class="">
        <h1>Please select the blog you want to update</h1>
        <ul style="display: flex; flex-wrap: wrap; gap: 30px;" type="none">
        <% blogs.forEach(blog => { %>
            <li>
                <img width="200px" src="/uploads/<%=  blog.img_url %>">
                <p><%= blog.uploader %></p>
                <p><%= blog._id %></p>
                <h4><%= blog.title %></h4>
                <p><%= blog.content %></p>
                <button data-id="<%= blog._id %>" class="update-blog-btn">Update Blog</button>
            </li>
        <%}); %>
    </ul>   
    </div>
    <script src="/script/update.js"></script>

    
</body>
</html>

                <!-- <label for="">BLOG CATEGORIES</label>
                <select id="blog">
                    <option value="">entertainment</option>
                    <option value="">movies</option>
                    <option value="">sport</option>
                </select> -->